<li>
  {{#link-to 'show' show.id}}{{show.title}}{{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{show.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Poster</button>
  {{/if}}
</li>
