<h1>{{show.title}}</h1>
<img src={{show.image}} class="img-responsive" width="300" height="auto">
<p class="show">{{show.blurb}}</p>
<ul class="team">
  <li>Music: {{show.music}}</li>
  <li>Lyrics: {{show.lyrics}}</li>
  <li>Book: {{show.book}}</li>
</ul>
